 
 $black-normal: #414040;
 $black-dark: #010000;
 $black-light: #7F7E7E;

 $white-normal: #F0F0F0;
 $white-dark: #FFFFFF;
 $white-light: #E0E0E0;

 $purple-normal: #410064;
 $purple-dark: #2E0045;
 $purple-light: #550083;

 $gray-1: #777;

 .color-gray{
     color: $gray-1;
 }